{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <h3>Wireless Vending Machine Technology</h3>
        <p>Wireless technology known as "Autogenesis" is installed in every snack vending machine at your facility. This device harvests live information recorded at every transaction and fed to our remote data hub. This gives us instant, live information as to what products are near empty and which products sell the most or don't sell at your location. Therefore, we are able to know what products need to be exchanged or which products need to be refilled more often.</p>
    </div>
</div>
<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-2">
                <h3>"Guaranteed dispensed Snacks... or your money back!"</h3>
                <p>The SureVendTM product delivery sensor guarantees that a selected item is delivered to you or your money is returned. The system works by attempting to deliver the item up to 3 times. If an item is not dispensed and therefore recognized by the optical sensor after 3 dispensing attempts, you are given the option of choosing another selection or accepting a refund.</p>
            </div>
            <div class="uk-width-1-2">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630041011/scott-scheibe/national-beverage-company/guarantee_xpl65l.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <h3>WHAT'S SO GREAT ABOUT ENERGY STAR CERTIFIED VENDING MACHINES?</h3>
        <p>As you may already know, Energy Star is a trusted, government-supported icon for energy efficient products that helps everyone conserve energy while saving money and doing our part to preserving the environment for future generations through the responsible use of energy-efficient products, in our case, vending machines that are energy efficient!</p>
        <p><strong>Energy Star Certified Products can:</strong></p>
        <ul>
            <li>Diminish unnecessary greenhouse gas emissions through the use of outdated inefficient vending machines.</li>
            <li>Save you money by using less energy to get the same job done other vending machines simply don't do efficiently.</li>
            <li>Preserve our natural resources and environment for the enjoyment of future generations - our children.</li>
        </ul>
    </div>
</div>
{{ end }}