{{ define "main" }}
<div class="uk-section uk-section-large service__list">
    <div class="uk-container uk-container-small">
        <div class="uk-child-width-1-1@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 400;">
            {{ range .Pages }}
            <div>
                <div class="uk-card uk-card-body">
                    <a href="{{ .Permalink }}">
                        <h2 class="uk-h1 uk-white uk-margin-remove">{{ .Title }}</h2>
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}