{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s uk-text-center">
                <div class="uk-card">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630818015/randy-nong/rn-insurance/austin-distel-jpHw8ndwJ_Q-unsplash_dfbizu.jpg" alt="">
                </div>
            </div>
            <div class="uk-width-1-2 uk-flex uk-flex-middle">
                <div class="uk-card">
                    <h3 class="uk-margin-remove uk-h4" style="border-left: 4px solid #aa0817;padding-left: 10px;">RN Insurance</h3>
                    <h2 class="uk-margin-small-top">Complete Insurance Solutions</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia ex officia doloremque sed provident explicabo deserunt dolore a! Consequatur quidem laborum at cumque vel reiciendis. Voluptatum exercitationem vel aut?</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio fuga laboriosam delectus, itaque minima repudiandae. Placeat natus vero debitis error aut amet tenetur? Quos qui explicabo architecto reiciendis aut magnam!ds</p>
                    <a href="/contact" class="uk-button uk-button-primary slide_right">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-small">
    <div class="uk-container">
            <h2 class="uk-margin-small-top uk-margin-medium-bottom">Highest-Quality Coverages</h2>
        <div class="uk-child-width-1-3@s" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="images/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Top</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}