{{ define "main" }}
{{ $optBlock := dict "display" "block" }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s uk-text-center">
                <div class="uk-card">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630818015/randy-nong/rn-insurance/austin-distel-jpHw8ndwJ_Q-unsplash_dfbizu.jpg" alt="">
                </div>
            </div>
            <div class="uk-width-1-2@s uk-flex uk-flex-middle">
                <div class="uk-card">
                    <h3 class="uk-margin-remove uk-h4" style="border-left: 4px solid #aa0817;padding-left: 10px;">Find the right policy</h3>
                    <h2 class="uk-margin-small-top">Complete insurance solutions that fit your needs</h2>
                    <p>Are you overpaying for coverage you might not need? View the different lists of policies on our website and contact your trusted professional at RN Insurance. We're here to help and get you on the proper plan</p>
                    <a href="/contact" class="uk-button uk-button-primary slide_right">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-small">
    <div class="uk-container">
            <h2 class="uk-margin-small-top uk-margin-medium-bottom">Affordable policies at competitive prices</h2>
        <div class="uk-child-width-1-3@s uk-text-center featured__section" uk-grid>
            {{ range (where .Site.RegularPages "Type" "insurance") }}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-body">
                        <h3 class="uk-h4 uk-text-bold">{{ .Title }}</h3>
                        {{ .Params.body | $.Page.RenderString $optBlock | truncate 200 }}
                        <div class="uk-margin-small-top">
                            <a href="{{ .Permalink }}" class="accent uk-text-bold">Learn More <span uk-icon="chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}