{{ define "main" }}
{{ $optBlock := dict "display" "block" }}

<div class="uk-section single__service__page">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-2@s uk-text-center">
                <div class="uk-card">
                    <div class="box-top" uk-scrollspy="cls:uk-animation-slide-right-small"></div>
                    <img src="{{ .Params.image }}" alt="{{ .Params.image_alt_tag }}">
                </div>
            </div>
            <div class="uk-width-1-2@s uk-flex uk-flex-middle">
                <div class="uk-card main__content">
                    <h2>{{ .Params.heading }}</h2>
                    {{ .Params.body | .Page.RenderString $optBlock }}
                    <a href="/contact" class="uk-button uk-button-primary slide_right">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ if .Content }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-width-1-1@s">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
<div class="uk-container">
    <div style="background: #fafafa;">
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-flex uk-flex-center">
                    <div class="uk-width-2xlarge uk-text-center">
                        <h2 class="uk-dark uk-text-center" style="font-size:1.5rem">{{ .Params.banner.heading }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ if .Params.faq }}
<div class="uk-section single__service__page">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-1-1 uk-flex uk-flex-middle">
                <div class="uk-card">
                    <h2 class="uk-margin-large-bottom">Questions about {{ .Title }}</h2>
                    <ul uk-accordion="collapsible: false">
                        {{ range .Params.faq }}
                        <li>
                            <a class="uk-accordion-title uk-text-small uk-text-bold" href="#"><h3 style="font-size:1.2rem;">{{ .question }}</h3></a>
                            <div class="uk-accordion-content uk-margin-medium-left uk-margin-large-bottom">
                                {{ .answer | $.Page.RenderString $optBlock }}
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{{ end }}
{{ end }}