/* TYPOGRAPHY */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .uk-h1,
body .uk-h2, 
body .uk-h3, 
body .uk-h4, 
body .uk-h5, 
body .uk-h6, 
body .uk-heading-2xlarge, 
body .uk-heading-large, 
body .uk-heading-medium, 
body .uk-heading-small, 
body .uk-heading-xlarge {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #777;
    font-size: 15px;
    line-height: 27px;
}

ul.uk-breadcrumb>*>* {
    color: #fff;
}

ul.uk-breadcrumb li:last-child a {
    font-weight: 700;
    text-decoration: underline;
}

ul.uk-breadcrumb>*>:focus,
ul.uk-breadcrumb>*>:hover {
    color: #fff;
}

a.uk-accordion-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

form label {
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

h1.h1-title {
    color:#fff;
}

a.uk-button-secondary {
    background: white;
    color: #222;
}

.uk-text-medium {
    font-weight: 500;
}

.accent {
    color: #aa0817;
}

.uk-white {
    color: #fff!important;
}

button.uk-button-primary,
a.uk-button-primary {
    background: #aa0817;
    padding: 5px 40px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
    outline: none;
    border: none;
}

.slide_right:hover {
    box-shadow: inset 200px 0 0 0 #19202A;
}

body .uk-button-primary.uk-active, body .uk-button-primary:active,
body .uk-button-primary:focus, body .uk-button-primary:hover {
    background-color: #aa0817;
    color: #fff;
}

@media screen and (max-width: 800px) {
    div.page__banner {
        background: #DBDBDB!important;
    }

    h1.h1-title,
    ul.uk-breadcrumb>*>* {
        color:#19202A;
    }
}

@media screen and (min-width:800px) {
    div.page__banner .page__slider {
        content: '';
        background: #aa0817;
        position: absolute;
        width: 45%;
        height: 100%;
        top: 0;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: skew(
    -45deg
    );
        -ms-transform: skew(-45deg);
        transform: skew(
    -45deg
    );
    }
}

div.page__banner__inner {
    position: relative;
    z-index: 1;
}

/* NAVBAR */

div.top-navbar .uk-navbar-nav>li>a {
    min-height: 40px;
    text-transform: unset;
}

div .uk-navbar-container>.uk-container .uk-navbar-left {
    margin-left: 0;
}

div.uk-navbar-dropdown {
    padding: 0;
}

div.uk-navbar-dropdown ul li {
    padding: 5px 10px;
}

div.uk-navbar-dropdown ul li:hover {
    background: #aa0817;
    transition: .3s;
    color: #fff;
}

div.uk-navbar-dropdown ul li:hover a {
    color: #fff;
    transition: .3s;
    padding-left: 5px;
}

div.uk-navbar-dropdown ul li {
    transition: .3s;
}

[class*=uk-navbar-dropdown-bottom]{
    margin-top: 0!important;
}

/* body svg {
    color: #C3002F;
} */

ul.uk-navbar-nav>li>a:not(.top-navbar a) {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: .1s;
    color: #000;
}

div ul.uk-navbar-nav>li>a:hover {
    border-bottom: 3px solid #aa0817;
    transition: .1s;
    color: #aa0817;
}

ul.uk-nav-parent-icon>.uk-parent>a::after {
    transform: rotate(
        -90deg
        );
    position: absolute;
}

.mobile__wrapper ul li a {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #eee;
    transition: .3s;
}

div.uk-modal-dialog {
    background: #19202A;
}

/* HERO */

div.uk-overlay-hero {
    background:rgb(9 10 21 / 20%);
}

div.hero-text p {
    font-size: 17.5px;
}

@media screen and (max-width: 800px) {
    div.hero-text {
        padding: 20px;
    }

    div.hero-text h1 {
        font-size: 1.5rem;
    }

    div.hero-text p.uk-text-normal {
        font-size: 15px;
    }
}

/* FEATURED SECTION */

.uk-section.uk-section-small.featured__section {
    margin-top: -150px;
}

.featured__section .uk-card-default,
.service__box .uk-card-default {
    box-shadow: none;
    transition: .3s ease;
    border: 1px solid #eee;
}

.featured__section .uk-card-default:hover,
.service__box .uk-card-default:hover {
    background: #aa0817;
    color: #fff;
    transition: .3s ease;
    border: 1px solid #aa0817;
}

.featured__section .uk-card-default:hover h3,
.featured__section .uk-card-default:hover svg,
.featured__section .uk-card-default:hover a.accent,
.service__box .uk-card-default:hover h3,
.service__box .uk-card-default:hover a.accent,
.service__box .uk-card-default:hover svg {
    color: #fff;
    transition: .3s ease;
    fill: #fff;
}

.service__box .uk-card-default:hover a.accent,
.featured__section .uk-card-default:hover a.accent {
    text-decoration: underline;
}

.featured__section .uk-card-default h3,
.featured__section .uk-card-default a {
    transition: .3s ease;
}

.featured__section .uk-card-default .svg__icons svg,
.service__box .uk-card-default .svg__icons svg {
    width: 50px;
}


/* NUMBER COUNTER */

.number__counter p:nth-child(2) {
    color: #a5a5a5;
}

/* CONTACT */

.contact__icons a {
    transition: .3s;
    color: #222;
}

.contact__icons a:hover {
    color: #aa0817;
    transition: .3s;
}

/* SINGLE SERVICE PAGE */

div.box-top {
    position: absolute;
    background: #aa0817;
    width: 200px;
    left: -50px;
    z-index: -1;
    bottom: 30px;
    top: 30px;
}

/* FAQ */

div.uk-card-secondary {
    background: #f3f3f3;
    box-shadow: none;
    transition: .3s;
}

div.uk-card-secondary.uk-card-hover:hover {
    background: #f3f3f3;
    color: inherit;
    box-shadow: none;
}

.faq__page .uk-card-body {
    padding: 20px;
}

.faq__page .uk-card-body h3 {
    font-size: 1rem;
    border-left: 4px solid #aa0817;
    padding-left: 10px;
}

ul.service__list__faq li a:hover {
    color: #aa0817;
    transition: .3s;
}

/* FOOTER */

footer.footer {
    background: #19202A;
}

footer.footer h6,
footer.footer a {
    color: #fff;
}

div.footer-credit p,
div.footer-credit ul li a {
    font-size: 12px;
}

.contact-detail span.uk-icon-button {
    background: #aa0817;
}

.contact-detail svg {
    color: #fff;
}

.contact-detail a {
    color: #000;
}

.service__list {
    columns: 3;
}

.footer-credit ul li {
    list-style: none;
}

footer.footer svg {
    transition: .3s;
}

footer.footer svg:hover {
    color: #aa0817;
    transition: .3s;
}

@media screen and (max-width:768px) {
    footer.footer .service__list {
        columns: 2;
    }
}