{{ define "main" }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-flex-column-reverse@s">
            <div class="uk-width-3-5@s">
                <h2>{{ .Params.heading }}</h2>
                {{ .Params.body | .Page.RenderString $optBlock }}
                <div class="uk-child-width-expand@m uk-grid-small uk-margin-medium-top uk-margin-medium-bottom" uk-grid>
                    <div>
                        <div class="uk-card">
                            <a href="https://www.google.com/maps/place/{{ $footerContact.address }} {{ $footerContact.city }} {{ $footerContact.state }} {{ $footerContact.zip_code }}" target="_blank" class="uk-link-text uk-text-bold"><span class="uk-margin-small-right uk-icon-button" uk-icon="location" style="background: #aa0817;color:#fff"></span> Visit the office</a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card">
                            <a href="tel:{{ $footerContact.phone }}" class="uk-link-text uk-text-bold"><span class="uk-margin-small-right uk-icon-button" uk-icon="receiver" style="background: #aa0817;color:#fff"></span>{{ $footerContact.phone }}</a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card">
                            <a href="mailto:{{ $footerContact.email }}" class="uk-link-text uk-text-bold"><span class="uk-margin-small-right uk-icon-button" uk-icon="mail" style="background: #aa0817;color:#fff"></span>{{ $footerContact.email }}</a>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@s uk-text-center">
                <img src="{{ .Params.image }}" alt="{{ .Params.image_alt_tag }}" width="400">
            </div>
        </div>
    </div>
</div>
<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-padding" style="background: #19202A">
            <div class="uk-flex uk-flex-center uk-text-center">
                <div class="uk-width-2xlarge uk-white main__content">
                    <h2 class="uk-white" style="font-size:1.5rem">{{ .Params.banner.heading }}</h2>
                    {{ .Params.banner.body | $.Page.RenderString $optBlock }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container main__content">
        <h2>Why Choose {{ .Site.Data.profile.company_name }}</h2>
        <hr>
        {{ .Content }}
        <hr>
        <a href="/contact" class="uk-button uk-button-primary">Get a quote</a>
    </div>
</div>
{{ end }}