{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <h3>National Beverage Company Clients</h3>
        <p>We serve publicly recognized companies at their corporate and manufacturing venues with our world-class vending machine services. Our clients require reliability, professionalism and responsiveness. National Beverage has earned a flawless reputation which has allowed us to increase our private corporate clientele as well as school campuses, hospitals, airport venues and train stations alike. Having the capacity to serve clients of this caliber is a result of our hard work, our reputation and established relationships. Let us serve you too and experience our outstanding vending machine services.</p>
        <div class="uk-child-width-1-4@s uk-child-width-1-2 uk-text-center" uk-grid>
            <div>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037712/scott-scheibe/national-beverage-company/firestone_pn3wd2.svg" alt="">
            </div>
            <div>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037712/scott-scheibe/national-beverage-company/enterprise_kwfnpo.svg" alt="">
            </div>
            <div>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/infinity_cpwmag.svg" alt="">
            </div>
            <div>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/nissan_gr9ycr.svg" alt="">
            </div>
            <div>
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/netflix_dkftjx.svg" alt="">
            </div>
            <div>
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/boa_g5fu4t.svg" alt="">
            </div>
            <div>
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/wellsfargo_gqvlof.svg" alt="">
            </div>
            <div>
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/albertsons_hwlgba.svg" alt="">
            </div>

        </div>

    </div>
</div>
{{ end }}