{{ $social := .Site.Data.profile.social }}
{{ $contact := .Site.Data.profile.primary_account }}
<div class="uk-visible@s" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200" style="background:white;">
    
<div class="top-navbar" style="background:#181515">
    <nav class="uk-container uk-container-medium" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="{{ $social.facebook }}" target="_blank"><span uk-icon="receiver" class="uk-margin-small-right"></span>(866) 685-6789</a></li>
                <li><a href="{{ $social.instagram }}" target="_blank"><span uk-icon="mail" class="uk-margin-small-right"></span>info@nationalbeveragecompany.com</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                {{ if $contact.primary_phone_number }}<li><a href="tel:{{ $contact.primary_phone_number }}">{{ $contact.primary_phone_number }}</a></li>{{ end }}
                {{ if $contact.primary_email }}<li><a href="mailto:{{ $contact.primary_email }}">{{ $contact.primary_email }}</a></li>{{ end }}
            </ul>
        </div>
    </nav>
</div>
    <nav class="main-nav uk-navbar-container uk-navbar-transparent">
        <div class="uk-container uk-container-medium" style="padding-top:10px;padding-bottom:10px;">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a href="{{ .Site.BaseURL }}" style="display: flex;align-items:center">
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1629431811/scott-scheibe/national-beverage-company/blue-red-logo_c5rb0j.png" alt="" width="50" class="white-logo">
                        <h1 style="font-size:20px;font-weight:500">National Beverage Company</h1>
                    </a>

                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-text-bold">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/clients">Clients</a></li>
                        <li><a href="/contact">Contact</a></li>       
                        <div class="uk-navbar-item">
                            <a href="/contact" class="uk-button uk-button-primary">Get Started</a>
                        </div>
                    </ul>
                </div>


            </div>
        </div>
    </nav>
</div>


{{/*  MOBILE MENU  */}}
<div uk-sticky="animation: uk-animation-slide-top-medium; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-dark; cls-inactive:uk-navbar-transparent; top: 400">
    <nav class="uk-navbar uk-navbar-container uk-hidden@s uk-padding-small uk-box-shadow-small">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1629431811/scott-scheibe/national-beverage-company/blue-red-logo_c5rb0j.png" alt="" width="50" class="white-logo">

            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#mobile-menu-slide" uk-toggle></a>
        </div>
    </nav>
    </div>
    <div id="mobile-menu-slide" style="z-index: 5;" uk-offcanvas="mode: reveal">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav-default uk-nav-parent-icon uk-nav-center uk-margin-auto-vertical" uk-nav>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/clients">Clients</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/contact">Get Started</a></li>
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header"></li>
                {{ if $social.facebook }}<li class="uk-display-inline-block"><a href="{{ $social.facebook }}" target="_blank" uk-icon="facebook"></a></li>{{ end }}
                {{ if $social.instagram }}<li class="uk-display-inline-block"><a href="{{ $social.instagram }}" target="_blank" uk-icon="instagram"></a></li>{{ end }}
            </ul>
        </div>
    </div>