{{ $optBlock := dict "display" "block" }}

<div class="uk-section uk-section-large">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-large uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s uk-text-center">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1632122614/corinne-renteria/complete-muscle-therapy/pexels-koolshooters-6628697.jpg" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <h2 class="uk-margin-small-top uk-white uk-h1">Our add-ons</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore eum praesentium officia. Consectetur, ea recusandae error rerum obcaecati tenetur modi dolore maiores quo odit at doloribus similique quaerat sit libero!</p>
                    <ul class="uk-list">
                        <li>Hot Stone Treatment $69</li>
                        <li>Hot Stone Treatment $69</li>
                        <li>Hot Stone Treatment $69</li>
                        <li>Hot Stone Treatment $69</li>
                    </ul>
                    <a href="/about" class="uk-button uk-button-secondary">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>