{{ $optBlock := dict "display" "block" }}

<div class="uk-section uk-section-large">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-large uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s uk-text-center">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1632122614/corinne-renteria/complete-muscle-therapy/pexels-koolshooters-6628697.jpg" alt="">
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card">
                    <h2 class="uk-margin-small-top uk-white uk-h1">{{ .Site.Data.home.add_ons.heading }}</h2>
                    <p>{{ .Site.Data.home.add_ons.body }}</p>
                    <ul class="uk-list">
                        {{ range where .Site.Pages "Type" "add-ons" }}
                        {{ range .Params.add_ons }}
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-expand" uk-leader>{{ .name }}</div>
                            <div>{{ .price }}</div>
                        </div>
                        {{ end }}
                        {{ end }}
                    </ul>
                    <a href="/add-ons" class="uk-button uk-button-secondary uk-margin-medium-top">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>