<div style="background: url(https://res.cloudinary.com/hungryram19/image/upload/v1630861013/randy-nong/rn-insurance/banner-logo_piipsn.jpg) no-repeat center;background-size:cover">
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-flex uk-flex-center">
                <div class="uk-width-2xlarge uk-text-center">
                    <h2 class="uk-white uk-text-center" style="font-size:1.5rem">{{ .Site.Data.home.banner.heading }}</h2>
                </div>
            </div>
        </div>
        <div class="uk-section uk-section-small number__counter">
            <div class="uk-container">
                <div class="uk-grid-column-medium uk-grid-row-large uk-child-width-1-3@s uk-text-center uk-flex uk-flex-center" uk-grid uk-height-match="target: .uk-card">
                    <div>
                        <div class="uk-card" style="border:1px solid rgb(255 255 255 / 13%)">
                            <div class="uk-card-body">
                                <p class="uk-h1 uk-text-bold uk-white">10+</p>
                                <p>Years of experience in the industry</p>
                            </div>
                        </div>
                    </div>
                    <!--  <div>
                        <div class="uk-card" style="border:1px solid rgb(255 255 255 / 13%)">
                            <div class="uk-card-body">
                                <p class="uk-h1 uk-text-bold uk-white">200+</p>
                                <p>Satisfied clients</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card" style="border:1px solid rgb(255 255 255 / 13%)">
                            <div class="uk-card-body">
                                <p class="uk-h1 uk-text-bold uk-white">50+</p>
                                <p>Client referrals</p>
                            </div>
                        </div>
                    </div>  -->
                </div>
            </div>
        </div>
    </div>
</div>