<div style="background: #C3002F;">
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-flex uk-flex-center">
                <div class="uk-width-2xlarge uk-text-center">
                    <h2 class="uk-white uk-text-center" style="font-size:1.5rem">The concept is easy and it doesn't cost you a dime. Call us now and let's get your service started today!</h2>
                    <a href="/contact" class="uk-button uk-button-secondary">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>