<div class="uk-section" style="background:#fafafa">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.2447498789907!2d-71.32865368453497!3d42.634971079169375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3a464d36f32cf%3A0x945105aaa8ffaa63!2s296%20Westford%20St%2C%20Lowell%2C%20MA%2001851!5e0!3m2!1sen!2sus!4v1630795267947!5m2!1sen!2sus" height="450" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-bold uk-margin-medium-bottom">Frequently Asked Questions</h2>

                <ul uk-accordion="collapsible: false">
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#"><h3 style="font-size:1rem;">How important is car insurance?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content main__content">
                            <p>Although drivers in New Hampshire are not required to buy car insurance, it's still important to find the right policy to have a peace of mind. If anything happens, finding the right coverage will help protect you from the cost of repairs. Protect yourself and your passengers with the right coverage by <a href="tel:{{ .Site.Data.profile.contact_information.cell }}">contacting</a> a licensed professional</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#"><h3 style="font-size:1rem;">Should I bundle my car insurance?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content main__content">
                            <p>Bundling a car insurance with a homeowners or renters insurance will help you save money. But make sure you're not losing coverage by switching to a bundle. It's best to contact RN Insurance, Inc for help.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#"><h3 style="font-size:1rem;">What if someone is injured in my home?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content main__content">
                            <p>If a visitor injures themselves within your home, it's important to have the proper coverage under your <a href="/insurance/home-insurance/">home insurance</a>. Having the right coverage means that you would be protected if the unexpected happens. An agent will help determine the right limit of liability to purchase.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-bold" href="#"><h3 style="font-size:1rem;">What if my home is a total loss?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content main__content">
                            <p>Your homeowners insurance policy should be able to cover the full cost of building your new home. Depending on the type of disaster to your home, we recommend talking to us about the different types of coverages for your home insurance. It's important to understand that natural disasters like flood and earth-quake will need to be insured under its own policy.</p>
                        </div>
                    </li>
                </ul>
                <a href="" class="uk-button uk-button-primary slide_right uk-margin-medium-top">Read more</a>

            </div>

        </div>
    </div>
</div>