<div class="uk-section" style="background:#fafafa">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large">
            <div class="uk-width-1-2@s uk-margin-medium-bottom">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2935.2447498789907!2d-71.32865368453497!3d42.634971079169375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3a464d36f32cf%3A0x945105aaa8ffaa63!2s296%20Westford%20St%2C%20Lowell%2C%20MA%2001851!5e0!3m2!1sen!2sus!4v1630795267947!5m2!1sen!2sus" height="450" style="border:0;width:100%;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-bold uk-margin-medium-bottom">Frequently Asked Questions</h2>

                <ul uk-accordion="collapsible: false">
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#"><h3 style="font-size:1rem;">What factors can affect the cost of my automobile insurance?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content">
                            <p>The type of car you drive, the purpose the car serves, your driving record, and where the car is garaged can all affect how much your automobile insurance will cost you.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#"><h3 style="font-size:1rem;">How do I set up a health savings account?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content">
                            <p>You can set an HSA up with many health insurance carriers as well as most local and national banks. The only caveat is that you must have an approved high-deductible health plan in order to open a health savings account.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#"><h3 style="font-size:1rem;">What is universal life insurance?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content">
                            <p>Universal life insurance is a unique product in that it is actually two different products packaged together.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-bold" href="#"><h3 style="font-size:1rem;">Do I need long-term care insurance?</h3 style="font-size:1rem;"></a>
                        <div class="uk-accordion-content">
                            <p>Long-term care insurance becomes more important every single day as the cost of providing health care rises. Families are going bankrupt paying the long-term care expense for elder loved-ones that can no longer make it on their own.</p>
                        </div>
                    </li>
                </ul>
                <a href="" class="uk-button uk-button-primary slide_right uk-margin-medium-top">Read more</a>

            </div>

        </div>
    </div>
</div>