<div class="uk-section" style="background:#fafafa">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-2@s uk-text-center">
                <div class="uk-card uk-card-body">
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1629607967/scott-scheibe/national-beverage-company/map2_v3oozk.png" alt="">
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <h2 class="uk-text-bold uk-margin-large-bottom">Frequently Asked <span class="accent">Questions</span></h2>

                <ul uk-accordion="collapsible: false">
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">What is your primary service area</a>
                        <div class="uk-accordion-content">
                            <p>National Beverage Company services Los Angeles, Orange County, San Bernardino, and Riverside area</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Why National Beverages Free Vending Services</a>
                        <div class="uk-accordion-content">
                            <p>Because National Beverage understands today's fast-paced business demands. Our world class vending services are available to you 24/7, that's 365 days a year! So go ahead, pick up the phone and give us a try, a professional, live person will answer your questions about our worry-free snack and drink vending machine services.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Why offer vending services at my business?</a>
                        <div class="uk-accordion-content">
                            <p>It is like having a convenience store with snacks and drinks at your place of business. Your employees can get a refreshing drink without leaving the premises, thus decreasing extended break periods, minimizing downtime and keeping your employees refreshed while subconsciously improving their concentration and productivity.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Do I have to worry about calling in for vending machine service or refilling?</a>
                        <div class="uk-accordion-content">
                            <p>No, when we say "worry-free vending" we mean it! All of our state-of-the-art vending machines are dynamically serviced to be running on tip-top condition. We constantly monitor the status of the machines to ensure you get constant snack dispensing.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Does National Beverage Company have insurance?</a>
                        <div class="uk-accordion-content">
                            <p>We have general liability, auto and workers compensation insurance in full force at all times.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">What's this great vending service going to cost my company?</a>
                        <div class="uk-accordion-content">
                            <p>Nothing, no rent or lease fees whatsoever, you only pay for every snack you enjoy!</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title uk-text-small uk-text-bold" href="#">Can I pick what goes in the machine?</a>
                        <div class="uk-accordion-content">
                            <p>Of course you can! As our customer, we want you to be happy with our vending services and establish a long-term relationship with us. You tell us what snacks or drinks you want to have in your vending machines and we will deliver to your specifications. Our high-tech vending machines also monitor your consumption patterns and help us make better selections to suit the general demand of your location.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>