<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-3">
                <div class="uk-card uk-cover-container">
                    <canvas width="" height="200"></canvas>
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1629610169/scott-scheibe/national-beverage-company/neonbrand-C0V7dWFVnec-unsplash_1_1_fgk7wf.jpg" alt="" uk-cover>
                </div>
                <h5 class="uk-text-bold" style="margin-top:20px">Quality Products</h5>
                <p>Stocked with brand name products we all love and trust.</p>
                <a href="/products" class="accent"><strong>Learn more</strong></a>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-cover-container">
                    <canvas width="" height="200"></canvas>
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1629610171/scott-scheibe/national-beverage-company/shutterstock_745623862_1_cz9uld.jpg" alt="" uk-cover>
                </div>
                <h5 class="uk-text-bold" style="margin-top:20px">Energy Efficient</h5>
                <p>Energy efficient and will not have a great impact on the amount of energy it takes to power them.</p>
                <a href="/energy-efficient" class="accent"><strong>Learn more</strong></a>

            </div>
            <div class="uk-width-1-3">
                <div class="uk-card uk-cover-container">
                    <canvas width="" height="200"></canvas>
                    <img src="https://res.cloudinary.com/hungryram19/image/upload/v1629270403/scott-scheibe/national-beverage-company/splash_vmr0tx.jpg" alt="" uk-cover>
                </div>
                <h5 class="uk-text-bold" style="margin-top:20px">Healthy Vending</h5>
                <p>Start enjoying a healthy lifestyle with National Beverage's Healthy Vending Programs</p>
                <a href="/products" class="accent"><strong>Learn more</strong></a>

            </div>
        </div>
    </div>
</div>