
<div class="uk-cover-container uk-flex uk-flex-center uk-flex-middle" uk-height-viewport style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1630729945/randy-nong/rn-insurance/family-looking-at-phone_jilx1i.jpg) no-repeat top;background-size:cover">    
    <div class="uk-overlay-hero uk-position-cover"></div>
    <div class="hero-text uk-white uk-width-3-5@s uk-text-left uk-flex uk-flex-left uk-position-relative">
        <div class="uk-width-2xlarge uk-text-left">
            <h1 class="uk-margin-remove uk-white">Offering Reliable, Affordable Insurance Solutions</h1>
            <p class="uk-text-normal" style="font-size: 17.5px;">RN Insurance is committed to providing the highest valued insurance plans to individuals and families.</p>
            <a href="/contact" class="uk-button-primary uk-button" uk-toggle>Get in touch</a>
        </div>
    </div>
</div>