
<div class="uk-cover-container uk-flex uk-flex-center uk-flex-middle" uk-height-viewport style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1629352443/scott-scheibe/national-beverage-company/snacking_gs5cvl.jpg) no-repeat top;background-size:cover" uk-grid>    
    <div class="uk-overlay-hero uk-position-cover"></div>
    <div class="hero-text uk-white uk-width-3-5@s uk-text-left uk-flex uk-flex-left uk-position-relative" style="margin-left:20px;margin-right: 20px;">
        <div class="uk-width-2xlarge uk-text-left uk-padding">
            <h1 class="uk-margin-remove uk-white">Southern California Vending Machine Company</h1>
            <p class="uk-text-normal uk-text-default">Providing free vending machine services to surrounding businesses in Southern California</p>
            <a href="#modal-signup" class="uk-button-primary uk-button" uk-toggle>Get in touch</a>
            <a href="#modal-signup" class="uk-button-secondary uk-button" uk-toggle>Learn more</a>
        </div>
    </div>
</div>