
<div class="uk-cover-container uk-flex uk-flex-center uk-flex-middle" uk-height-viewport style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1632123524/corinne-renteria/complete-muscle-therapy/muscle-flower.jpg) no-repeat top;background-size:cover">    
    <div class="uk-overlay-hero uk-position-cover"></div>
    <div class="hero-text uk-white uk-flex uk-flex-left uk-position-relative uk-animation-fade" uk-parallax="blur: 10; sepia: 100;">
        <div class="uk-text-center">
            <img src="/assets/logo.svg" alt="{{ .Site.Data.profile.company_name }}" width="100" class="white-logo">
            <h1 class="uk-margin-remove uk-white uk-text-uppercase">{{ .Site.Data.home.hero_image.heading }}</h1>
            <p class="uk-margin-medium-bottom">{{ .Site.Data.home.hero_image.body }}</p>
            <a href="/contact" class="uk-button-secondary uk-button">Get in touch</a>
        </div>
    </div>
</div>