<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630736304/hungryram/shaking-hands_glaaua.jpg" alt="">
            </div>
            <div class="uk-width-3-5@s">
                <div class="uk-card">
                    <h3 class="uk-margin-remove uk-h4">RN Insurance</h3>
                    <h2 class="uk-margin-small-top">A Premier Insurance Agency</h2>
                    <p>Our mission is to create an insurance plan that uniquely protects your insurance needs for an affordable price. We value the long term relationship with our clients. Priding ourselves to give families, individuals and businesses the personal attention required to protect what matters most to them.</p>
                    <p>When claims occur, we realize that it can be a difficult time and we will do everything possible to assure a prompt and thorough recovery.</p>
                    <a href="" class="uk-button uk-button-primary slide_right">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</div>