{{ $optBlock := dict "display" "block" }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            <div class="uk-width-expand">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1631588576/randy-nong/rn-insurance/randy-nong-in-office.jpg" alt="Randy Nong sitting in RN Insurance office">
            </div>
            <div class="uk-width-3-5@s">
                <div class="uk-card">
                    <h3 class="uk-margin-remove uk-h4" style="border-left: 4px solid #aa0817;padding-left: 10px;">{{ .Site.Data.home.introduction.subtitle }}</h3>
                    <h2 class="uk-margin-small-top">{{ .Site.Data.home.introduction.heading }}</h2>
                    {{ .Site.Data.home.introduction.body | $.Page.RenderString $optBlock }}
                    <a href="/about" class="uk-button uk-button-primary slide_right">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>