<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-slider-container-offset" uk-slider>

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        
                <ul class="uk-slider-items uk-child-width-1-5@s uk-grid">
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037712/scott-scheibe/national-beverage-company/firestone_pn3wd2.svg" alt="">
                    </li>
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037712/scott-scheibe/national-beverage-company/enterprise_kwfnpo.svg" alt="">
                    </li>
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/infinity_cpwmag.svg" alt="">
                    </li>
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/nissan_gr9ycr.svg" alt="">
                    </li>
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/netflix_dkftjx.svg" alt="">
                    </li>
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/boa_g5fu4t.svg" alt="">
                    </li>
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/wellsfargo_gqvlof.svg" alt="">
                    </li>
                    <li>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630037710/scott-scheibe/national-beverage-company/albertsons_hwlgba.svg" alt="">
                    </li>
        
        
                </ul>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
    </div>
</div>