{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-grid">
                    <div class="uk-width-1-2@s">
                        <h2>Quality Vending Machine Products</h2>
                        <p>National Beverage Company offers modern vending machine and a wide variety of options available including healthy vending. We keep our snacks fresh by regularly rotating in new items</p>
                        <ul class="uk-margin-large-top" uk-accordion>
                            <li>
                                <a class="uk-accordion-title" href="#">Healthy Snacks</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Bugles</li>
                                        <li>Cheetos Baked</li>
                                        <li>Cheetos Flaming Hot Baked</li>
                                        <li>Doritos Nacho Cheese Baked</li>
                                        <li>Doritos Sweet Chili Reduced Fat</li>
                                        <li>Fantastix Chili Cheese</li>
                                        <li>Fantastix Flamin' Hot</li>
                                        <li>Gardetto's Reduced Fat</li>
                                        <li>Gold Fish</li>
                                        <li>Gold Fish Graham Chocolate</li>
                                        <li>Gold Fish Flavor Blasted</li>
                                        <li>Kettle Corn</li>
                                        <li>Lays BBQ Baked</li>
                                        <li>Lays Sour Cream and Onion Baked</li>
                                        <li>Pirates Booty White Cheddar</li>
                                        <li>Pop Chips</li>
                                        <li>Quaker Ultimate Cheddar Baked</li>
                                        <li>Ritz Sour Cream & Onion-Low Fat</li>
                                        <li>Gummy Bears 2.25oz</li>
                                        <li>Sour Worms 2.25oz</li>
                                        <li>Watches Fruit Snacks Reduced Sugar</li>
                                        <li>Chex Mix Chocolate Caramel</li>
                                        <li>Chex Mix Hot & Spicy</li>
                                        <li>Chex Mix Honey Nut</li>
                                        <li>Chex Mix Strawberry Yogurt</li>
                                        <li>Chex Mix Traditional</li>
                                        <li>Cheez It Big Bag</li>
                                        <li>Cheez-It Cheddar</li>
                                        <li>Cheez It Hot and Spicy</li>
                                        <li>Cheez-It Reduced Fat</li>
                                        <li>Planters Peanut Butter & Crackers</li>
                                        <li>Planters PB & Cheese Crackers</li>
                                        <li>Rice Cakes Carmel</li>
                                        <li>Rice Cakes Cheddar</li>
                                        <li>Wheat Thins Veggie</li>
                                        <li>Cashews</li>
                                        <li>Corn Nuts BBQ</li>
                                        <li>Corn Nuts Limon</li>
                                        <li>Corn Nuts Original</li>
                                        <li>Corn Nuts Picante</li>
                                        <li>Corn Nuts Ranch</li>
                                        <li>Planters Peanuts</li>
                                        <li>Planter Honey Roasted Peanuts</li>
                                        <li>Salted Almonds</li>
                                        <li>Sunflower Kernels</li>
                                        <li>Trail Mix</li>
                                        <li>Trail Mix Aloha</li>
                                        <li>Trail Mix Energizer</li>
                                        <li>Mrs May's Almond Crunch</li>
                                        <li>Mrs May's Cashew Crunch</li>
                                        <li>Ruffles Cheddar & Sour Cream Baked</li>
                                        <li>Sun Chips Cheddar Cheese</li>
                                        <li>Sun Chips French Onion</li>
                                        <li>Sun Chips Original</li>
                                        <li>Sun Chips Salsa Garden</li>
                                        <li>Animal Crackers</li>
                                        <li>Buzzstrongs Chocolate Chip</li>
                                        <li>Buzzstrongs Mint</li>
                                        <li>Buzzstrongs Orange</li>
                                        <li>Buzzstrongs Peanut Butter</li>
                                        <li>Cinnamon Toast Crunch</li>
                                        <li>Gourmet Chocolate</li>
                                        <li>Gourmet Chocolate Chip</li>
                                        <li>Rugar Waffles Sugar Free Chocolate</li>
                                        <li>Rugar Waffles Sugar Free Vanilla</li>
                                        <li>Cliff Bar - Brownie</li>
                                        <li>Cliff Bar - Chocolate Chip</li>
                                        <li>Cliff Bar - Peanut Butter</li>
                                        <li>Cocoa Puff Cereal Bar</li>
                                        <li>Cheerios Strawberry Cereal Bar</li>
                                        <li>Mrs May's Trio Blueberry</li>
                                        <li>Mrs May's Trio Strawberry</li>
                                        <li>NV Maple Brown Sugar</li>
                                        <li>NV Oat-N-Honey</li>
                                        <li>NV Peanut Butter</li>
                                        <li>NV Fruit & Nut Bar</li>
                                        <li>Fiber One Granola Bar</li>
                                        <li>Nutri-Grain Apple</li>
                                        <li>Nutri-Grain Blueberry</li>
                                        <li>Nutri Grain Raspberry</li>
                                        <li>Nutri-Grain Strawberry</li>
                                        <li>Pop Tart Whole Grain Brn Sugar Cinn</li>
                                        <li>Pop Tart Whole Grain Strawberry</li>
                                        <li>Rice Krispie Treats</li>
                                        <li>Gourmet Muffin Banana - Low Fat</li>
                                        <li>Gourmet Muffin Blueberry - Low Fat</li>
                                        <li>Gourmet Muffin Choc - Low Fat</li>
                                        <li>Gourmet Muffin Lemon - Low Fat</li>
                                        <li>Hickory Jerky</li>
                                        <li>Hot Jerky</li>
                                        <li>Jalapeño Jerky</li>
                                        <li>Old Fashioned Pepper Jerky</li>
                                        <li>Teriyaki Jerky</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Coke Products</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Coke Classic</li>
                                        <li>Diet Coke</li>
                                        <li>Coke ZERO</li>
                                        <li>Cherry Coke Zero</li>
                                        <li>Dr Pepper</li>
                                        <li>Diet Dr Pepper</li>
                                        <li>Cherry Coke</li>
                                        <li>Sprite</li>
                                        <li>Fanta Orange</li>
                                        <li>Fanta Grapefruit</li>
                                        <li>Fanta Strawberry</li>
                                        <li>Barq's Rootbeer</li>
                                        <li>Minute Maid Pink Lemonade</li>
                                        <li>Nestea Sweet Tea</li>
                                        <li>Fresca</li>
                                        <li>Dasani</li>
                                        <li>NOS</li>
                                        <li>Powerade Fruit Punch</li>
                                        <li>Powerade Lemon Lime</li>
                                        <li>Powerade Orange</li>
                                        <li>Powerade Mountain Berry Blast</li>
                                        <li>PowerAde Zero Mixed Berry</li>
                                        <li>Vitamin Water XXX</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Juices</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Honest Tea Honey Green Tea</li>
                                        <li>Honest Tea Peach White Tea</li>
                                        <li>Honest Tea Half & Half (Tea/Lemonade)</li>
                                        <li>Honest Tea Not Too Sweet</li>
                                        <li>Honest Tea Pomegranate Blue Ade</li>
                                        <li>Honest Tea Orange Mango Ale</li>
                                        <li>Fuze Tropical Punch</li>
                                        <li>V-8 Juice</li>
                                        <li>V-8 Splash Berry Blend</li>
                                        <li>Nestea Sweet Tea</li>
                                        <li>Powerade Fruit Punch</li>
                                        <li>Powerade Lemon Lime</li>
                                        <li>Powerade Orange</li>
                                        <li>Powerade Mountain Berry Blast</li>
                                        <li>Minute Maid Orange Jice</li>
                                        <li>Minute Maid Cranberry Apple Rasp Juice</li>
                                        <li>Minute Maid Cranberry Grape</li>
                                        <li>Minute Maid Apple Juice</li>
                                        <li>Vitamin Water XXX Zero</li>
                                        <li>PowerAde Zero Mixed Berry</li>
                                        <li>Monster Energy</li>
                                        <li>Monster Energy Zero</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Candy</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>$100 Grand</li>
                                        <li>3 Musketeer</li>
                                        <li>Baby Ruth</li>
                                        <li>Black Licorice Twizlers</li>
                                        <li>Butterfinger</li>
                                        <li>Butter Finger Crisp</li>
                                        <li>Dove Dark Chocolate</li>
                                        <li>Gummy Bears Bag 4oz</li>
                                        <li>Gummy Bears 2.25oz</li>
                                        <li>Heath Bar</li>
                                        <li>Hershey Almond</li>
                                        <li>Hot Tamales</li>
                                        <li>Keebler Fudge Sticks</li>
                                        <li>Kit Kat</li>
                                        <li>Life Saver Chewy</li>
                                        <li>M & M Plain</li>
                                        <li>M & M Peanut</li>
                                        <li>Mike and Ike</li>
                                        <li>Milk Duds</li>
                                        <li>Milky Way</li>
                                        <li>Nestle's Crunch</li>
                                        <li>Pay Day</li>
                                        <li>Red Vines</li>
                                        <li>Reese's Cups</li>
                                        <li>Reese's Sticks</li>
                                        <li>Skittles</li>
                                        <li>Skittles - Sour ( Green)</li>
                                        <li>Snickers</li>
                                        <li>Sour Patch - Mixed</li>
                                        <li>Sour Watermelon</li>
                                        <li>Sour Worms Bag 4oz</li>
                                        <li>Sour Worms 2.25oz</li>
                                        <li>Starburst Five Favs</li>
                                        <li>Starburst Original</li>
                                        <li>Starburst Tropical</li>
                                        <li>Sweethearts</li>
                                        <li>Twix</li>
                                        <li>Welch's Fruit Snacks</li>
                                        <li>Watches Fruit Snacks Reduced Sugar</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Beef Jerky</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Hickory Jerky</li>
                                        <li>Hot Jerky</li>
                                        <li>Jalapeño Jerky</li>
                                        <li>Old Fashioned Pepper Jerky</li>
                                        <li>Teriyaki Jerky</li>
                                        <li>Salami Stick Jerky</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Chips</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Baken-Ets Hot-N-Spicy</li>
                                        <li>Bruschetta Chips</li>
                                        <li>Bugles</li>
                                        <li>Cheetos</li>
                                        <li>Cheetos Baked</li>
                                        <li>Cheetos Cheddar Jalapeño</li>
                                        <li>Cheetos Flaming Hot</li>
                                        <li>Cheetos Flaming Hot Baked</li>
                                        <li>Cheetos Flaming Hot Limon</li>
                                        <li>Cheese Puffs</li>
                                        <li>Dirty Chipotle</li>
                                        <li>Dirty Maui Onion</li>
                                        <li>Dirty Jalapeño Heat</li>
                                        <li>Doritos 1st Degree</li>
                                        <li>Doritos Blazin' Buffalo Ranch</li>
                                        <li>Doritos Cool Ranch</li>
                                        <li>Doritos Nacho Cheese</li>
                                        <li>Doritos Nacho Cheese Baked</li>
                                        <li>Doritos Pizza</li>
                                        <li>Doritos Sweet Chili Reduced Fat</li>
                                        <li>Fantastix Chili Cheese</li>
                                        <li>Fantastix Flamin' Hot</li>
                                        <li>Fritos Regular</li>
                                        <li>Fritos Chili Cheese</li>
                                        <li>Fritos Honey BBQ Twists</li>
                                        <li>Funyons</li>
                                        <li>Funyons Flaming Hot</li>
                                        <li>Gardetto's Reduced Fat</li>
                                        <li>Gold Fish</li>
                                        <li>Gold Fish Graham Chocolate</li>
                                        <li>Gold Fish Flavor Blasted</li>
                                        <li>Kettle Corn</li>
                                        <li>Lays Classic</li>
                                        <li>Lays BBQ</li>
                                        <li>Lays BBQ Baked</li>
                                        <li>Lays Sour Cream and Onion Baked</li>
                                        <li>Luau BBQ</li>
                                        <li>Maui Onion</li>
                                        <li>Miss Vickie's Kettle BBQ</li>
                                        <li>Miss Vickie's Jalapeño</li>
                                        <li>Munchies Cheese Fix</li>
                                        <li>Munchies Hot</li>
                                        <li>Pirates Booty White Cheddar</li>
                                        <li>Pop Chips</li>
                                        <li>Pretzels</li>
                                        <li>Quaker Ultimate Cheddar Baked</li>
                                        <li>Ritz Sour Cream & Onion-Low Fat</li>
                                        <li>Ruffles Original</li>
                                        <li>Ruffles Cheddar & Sour Cream</li>
                                        <li>Ruffles Cheddar & Sour Cream Baked</li>
                                        <li>Salsalitas Salsa Chips</li>
                                        <li>Sun Chips Cheddar Cheese</li>
                                        <li>Sun Chips French Onion</li>
                                        <li>Sun Chips Original</li>
                                        <li>Sun Chips Salsa Garden</li>
                                        <li>TGIF Bacon and Cheddar</li>
                                        <li>Takis</li>
                                        <li>Tims Jalapeno</li>
                                        <li>Yoguet Pretzels</li>
                                        <li>Zapps Tabasco</li>
                                        <li>Zapps VooDoo</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Baked Goods</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Banana Nut Cake</li>
                                        <li>Bear Claw</li>
                                        <li>Big Texas Cinnamon Roll</li>
                                        <li>Butter Pound Cake</li>
                                        <li>Carrot Cake</li>
                                        <li>Coffee Cake</li>
                                        <li>Cup Cakes - Chocolate</li>
                                        <li>Danish - Apple</li>
                                        <li>Danish - Blueberry</li>
                                        <li>Danish - Cream Cheese and Berries</li>
                                        <li>Danish - Vienna Cream</li>
                                        <li>Donuts - Chocolate</li>
                                        <li>Donuts - Crumb</li>
                                        <li>Donuts - Powdered</li>
                                        <li>Honey Bun</li>
                                        <li>Goldfingers</li>
                                        <li>Gourmet Muffin Banana - Low Fat</li>
                                        <li>Gourmet Muffin Blueberry - Low Fat</li>
                                        <li>Gourmet Muffin Choc - Low Fat</li>
                                        <li>Gourmet Muffin Lemon - Low Fat</li>
                                        <li>Marble Cake</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Breakfast Foods</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Cinnamon Toast Cereal Bar</li>
                                        <li>Cliff Bar - Brownie</li>
                                        <li>Cliff Bar - Chocolate Chip</li>
                                        <li>Cliff Bar - Peanut Butter</li>
                                        <li>Cocoa Puff Cereal Bar</li>
                                        <li>Cheerios Strawberry Cereal Bar</li>
                                        <li>Mrs May's Trio Blueberry</li>
                                        <li>Mrs May's Trio Strawberry</li>
                                        <li>NV Maple Brown Sugar</li>
                                        <li>NV Oat-N-Honey</li>
                                        <li>NV Peanut Butter</li>
                                        <li>NV Fruit & Nut Bar</li>
                                        <li>Strawberry Yogurt</li>
                                        <li>Sweet & Salty Almond</li>
                                        <li>Sweet & Salty Peanut</li>
                                        <li>Fiber One Granola Bar</li>
                                        <li>Nutri-Grain Apple</li>
                                        <li>Nutri-Grain Blueberry</li>
                                        <li>Nutri Grain Raspberry</li>
                                        <li>Nutri-Grain Strawberry</li>
                                        <li>Pop Tarts Blueberry</li>
                                        <li>Pop Tart Brown Sugar Cinnamon</li>
                                        <li>Pop Tarts Chocolate Chip</li>
                                        <li>Pop Tarts Strawberry</li>
                                        <li>Pop Tart Whole Grain Brn Sugar Cinn</li>
                                        <li>Pop Tart Whole Grain Strawberry</li>
                                        <li>Rice Krispie Treats</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Warm Meals</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Campbell's Creamy Chicken</li>
                                        <li>Campbell's Creamy Tomato</li>
                                        <li>Creamy Chipotle Chicken Dinner</li>
                                        <li>Dinty Moore Beef Stew</li>
                                        <li>Hormel Chicken Alfredo</li>
                                        <li>Hormel Roast Beef with Gravy</li>
                                        <li>Hormel Beef Steak Tips</li>
                                        <li>Hormel Spaghetti/Meat Sauce</li>
                                        <li>Hormel Chicken & Dumplings</li>
                                        <li>Hormel Chicken & Noodles</li>
                                        <li>Chicken Salad with Crackers</li>
                                        <li>Tuna Salad with Crackers</li>
                                        <li>Healthy Choice Vegetable Soup</li>
                                        <li>Mac-N-Cheese</li>
                                        <li>Beef Soup</li>
                                        <li>Chicken Soup</li>
                                        <li>Chicken Soup Hot and Spicy</li>
                                        <li>Shrimp Soup</li>
                                        <li>Shrimp Soup Hot and Spicy</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Cookies</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Animal Crackers</li>
                                        <li>Barritas Straw & Pina</li>
                                        <li>Basil's Duplex</li>
                                        <li>Basil's Lemon</li>
                                        <li>Basil's Peanut Butter</li>
                                        <li>Basil's Vanilla</li>
                                        <li>Brownie Crisps</li>
                                        <li>Buzzstrongs Chocolate Chip</li>
                                        <li>Buzzstrongs Mint</li>
                                        <li>Buzzstrongs Orange</li>
                                        <li>Buzzstrongs Peanut Butter</li>
                                        <li>Canelitas Cinnamon</li>
                                        <li>Chips Ahoy</li>
                                        <li>Cinnamon Toast Crunch</li>
                                        <li>Famous Amos</li>
                                        <li>Gourmet Chocolate</li>
                                        <li>Gourmet Chocolate Chip</li>
                                        <li>Grandmas Choc Chip</li>
                                        <li>Grandmas Fudge Choc Chip</li>
                                        <li>Grandma Oatmeal Raisin</li>
                                        <li>Grandmas Peanut Butter</li>
                                        <li>Grandma Vanilla Cream</li>
                                        <li>Keebler Fudge Stripes</li>
                                        <li>Knott's Boysenberry</li>
                                        <li>Knott's Raspberry</li>
                                        <li>Lorna Doones</li>
                                        <li>Nutter Butter Bites</li>
                                        <li>Oreo</li>
                                        <li>Polvornes Orange</li>
                                        <li>Ruger Waffles</li>
                                        <li>Rugar Waffles Sugar Free Chocolate</li>
                                        <li>Rugar Waffles Sugar Free Vanilla</li>
                                        <li>Snack Wells Crème</li>
                                        <li>Swiss Vanilla</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Crackers</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Chex Mix Bold</li>
                                        <li>Chex Mix Chocolate Caramel</li>
                                        <li>Chex Mix Hot & Spicy</li>
                                        <li>Chex Mix Honey Nut</li>
                                        <li>Chex Mix Strawberry Yogurt</li>
                                        <li>Chex Mix Traditional</li>
                                        <li>Cheez It Big Bag</li>
                                        <li>Cheez-It Cheddar</li>
                                        <li>Cheez It Hot and Spicy</li>
                                        <li>Cheez-It Reduced Fat</li>
                                        <li>Planters Peanut Butter & Crackers</li>
                                        <li>Planters PB & Cheese Crackers</li>
                                        <li>Rice Cakes Carmel</li>
                                        <li>Rice Cakes Cheddar</li>
                                        <li>Wheat Thins Veggie</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Nuts & Seeds</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>Cashews</li>
                                        <li>Corn Nuts BBQ</li>
                                        <li>Corn Nuts Limon</li>
                                        <li>Corn Nuts Original</li>
                                        <li>Corn Nuts Picante</li>
                                        <li>Corn Nuts Ranch</li>
                                        <li>Japanese Nuts</li>
                                        <li>Nuts and Sweets</li>
                                        <li>Planters Peanuts</li>
                                        <li>Planter Honey Roasted Peanuts</li>
                                        <li>Salted Almonds</li>
                                        <li>Sunflower Kernels</li>
                                        <li>Trail Mix</li>
                                        <li>Trail Mix Aloha</li>
                                        <li>Trail Mix Energizer</li>
                                        <li>Yogurt-N-Mix</li>
                                        <li>Popcorn Butter</li>
                                        <li>P Nuttles</li>
                                        <li>Mrs May's Almond Crunch</li>
                                        <li>Mrs May's Cashew Crunch</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Energy Shots</a>
                                <div class="uk-accordion-content">
                                    <ul class="uk-list uk-list-striped">
                                        <li>5 Hour Energy</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="uk-width-1-2@s uk-text-center">
                        <img src="http://nationalbeveragecompany.com/images/breakfast.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{ end }}