{{ define "main" }}
<div class="uk-section faq__page">
    <div class="uk-container">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-2xlarge uk-text-center">
                <h2 class="uk-text-center">All the information you need</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi quibusdam quos optio aspernatur sapiente voluptates corporis! Ea cupiditate iure blanditiis. Perferendis maxime nam quia expedita temporibus voluptas dolorum illo enim!</p>
            </div>
        </div>
        <div class="uk-child-width-1-2@s uk-grid-match uk-margin-medium-top uk-grid-column-small uk-grid-row-small" uk-grid>
            <div>
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body">
                    <h3 style="color: #222;">Lorem ipsum dolor sit amet</h3>
                    <p style="color: #7f7f7f">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequuntur nisi labore excepturi necessitatibus, explicabo illo. Voluptatem accusamus blanditiis omnis? </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body">
                    <h3 style="color: #222;">Lorem ipsum dolor sit amet</h3>
                    <p style="color: #7f7f7f">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequuntur nisi labore excepturi necessitatibus, explicabo illo. Voluptatem accusamus blanditiis omnis? </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body">
                    <h3 style="color: #222;">Lorem ipsum dolor sit amet</h3>
                    <p style="color: #7f7f7f">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequuntur nisi labore excepturi necessitatibus, explicabo illo. Voluptatem accusamus blanditiis omnis? </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-secondary uk-card-hover uk-card-body">
                    <h3 style="color: #222;">Lorem ipsum dolor sit amet</h3>
                    <p style="color: #7f7f7f">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid consequuntur nisi labore excepturi necessitatibus, explicabo illo. Voluptatem accusamus blanditiis omnis? </p>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-flex uk-flex-center">
                <div class="uk-width-2xlarge uk-text-center">
                    <h2 class="uk-text-center">Questions about Insurance</h2>
                </div>
            </div>
            <div class="uk-grid uk-margin-medium-top">
                <div class="uk-width-expand uk-margin-medium-bottom">
                    <div class="uk-card">
                        <h3>Can't find an answer?</h3>
                        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1630830529/randy-nong/rn-insurance/bruce-mars-xj8qrWvuOEs-unsplash_xsawm0.jpg" alt="" style="box-shadow:-60px 0px 0 -20px #aa0817">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere vitae quas alias delectus aliquid fuga? Impedit, porro non esse mollitia alias exercitationem minus consequatur ea, error officiis ipsum nemo quis?</p>
                        <a href="/contact" class="uk-button uk-button-primary slide_right">Contact</a>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <h3>Insurance Coverage</h3>
                    <ul class="uk-list uk-list-striped service__list__faq">
                        {{ range where .Site.RegularPages "Type" "insurance" }}
                        <li><a href="{{ .Permalink }}" class="uk-link-text uk-margin-small-right">{{ .Title }}</a><span uk-icon="icon: chevron-double-right"></span></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}